.icon-btn{
    cursor: pointer;
}

.todoCard{
    background-color: #f8f8f8;
    width: 288px;
    height: 500px;
    border-radius: 8px;
    // box-shadow: 3px 3px 5px 0px #C7C7C7;
    margin-right: 32px;
}